.wm-header {
  background: var(--wm-header-color);
  color: var(--wm-header-font-color);
  font-family: var(--wm-header-font-family);
  font-weight: 900;
  height: 43px;
  font-size: 1rem;
  box-shadow: 0.5px 0 9px 0.5px #bbb;
  display: flex;
  padding: 0 5em;
  justify-content: space-between;
  align-items: center;
}
