.wm-form-discount {
  display: flex;
  justify-content: space-around;
}

.wm-form-discount input {
  padding: 0.3em 0.5em;
  outline: none;
}

.wm-form-discount button {
  border: 1px solid black;
  border-radius: 20%;
  outline: none;
  cursor: pointer;
}

.wm-form-discount button:active {
  border: 1px solid #ccc;
}
