.wm-block-details-item {
  display: flex;
  justify-content: space-between;
}

.wm-block-details-item img {
  align-self: flex-start;
}

.wm-block-details-item div div span {
  font-weight: 900;
}

.wm-block-price-container {
  display: flex;
  justify-content: space-between;
}

.wm-block-price-container > p {
  font-size: 0.8em;
}

.wm-block-details-selection {
  color: #bbb;
  text-align: center;
}
