.td-task-box {
  padding-top: 12px;
  height: 2000px;
}

.td-task-wrapper {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.td-task-input[type="checkbox"] {
  cursor: pointer;
  position: relative;
  top: 3px;
  visibility: hidden;
  margin-left: 5px;
}

.td-task-input[type="checkbox"]:after {
  border: 1px solid #166b94;
  border-radius: 3px;
  color: #fff;
  content: " ";
  display: block;
  height: 16px;
  line-height: 16px;
  text-align: center;
  visibility: visible;
  width: 16px;
}

.td-task-input[type="checkbox"]:checked:after {
  border: 1px solid #979797;
  color: #979797;
  content: "✓";
}

.td-list_task {
  font-family: Arial;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 0;
  cursor: pointer;
  color: #166b94;
  font-weight: bold;
  margin-left: 12px;
}

.td-task-input[type="checkbox"]:checked + .td-list_task {
  color: #979797;
  font-weight: normal;
  text-decoration: line-through;
  vertical-align: bottom-text;
}

.td-task-input[type="checkbox"] + .td-list_task + .td-remove_task {
  margin-right: 5px;
}

.td-task-input[type="checkbox"]:checked + .td-list_task + .td-remove_task {
  background: #979797;
}

.td-remove_task {
  height: 26px;
  width: 26px;
  color: white;
  outline: none;
  background-color: tomato;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
  cursor: pointer;
}

.td-remove_task:active {
  height: 25.5px;
  width: 25.5px;
}